//colors
$white: #fff;
$white_75: rgba(255, 255, 255, 0.75);
$black_5: rgba(0, 0, 0, 0.05);
$black_15: rgba(0, 0, 0, 0.15);
$color_shark_approx: #212528;
$color_fuscous_gray_approx: #555;
$color_mako_approx: #41484c;
$black_2.5: rgba(0, 0, 0, 0.025);
$color_bunker_approx: #0c1013;
$gray_35: rgba(128, 128, 128, 0.35);

//fonts
$font_0: sans-serif;
$font_1: armata;
$font_2: FontAwesome;

//urls
$url_0: url(font-awesome.min.css);
$url_1: url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600);
$url_2: url(../images/background-pe.jpg);

//@extend-elements
//original selectors
//html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
%extend_1 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

//original selectors
//form input[type="text"], form input[type="email"], form input[type="password"], form input[type="date"], form select, form textarea
%extend_2 {
	position: relative;
	display: block;
	border: 0;
	outline: 0;
	background: $white;
	background: $white_75;
	width: 100%;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: inset 0 0.1em 0.1em 0 $black_5;
	border: solid 1px $black_15;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.35s ease-in-out;
}

//original selectors
//.row:after, .row:before
%extend_3 {
	content: '';
	display: block;
	clear: both;
	height: 0;
}

//original selectors
//.\31 2u, .\31 2u\24
%extend_4 {
	width: 100%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\31 1u, .\31 1u\24
%extend_5 {
	width: 91.6666666667%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\31 0u, .\31 0u\24
%extend_6 {
	width: 83.3333333333%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\39 u, .\39 u\24
%extend_7 {
	width: 75%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\38 u, .\38 u\24
%extend_8 {
	width: 66.6666666667%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\37 u, .\37 u\24
%extend_9 {
	width: 58.3333333333%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\36 u, .\36 u\24
%extend_10 {
	width: 50%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\35 u, .\35 u\24
%extend_11 {
	width: 41.6666666667%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\34 u, .\34 u\24
%extend_12 {
	width: 33.3333333333%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\33 u, .\33 u\24
%extend_13 {
	width: 25%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\32 u, .\32 u\24
%extend_14 {
	width: 16.6666666667%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\31 u, .\31 u\24
%extend_15 {
	width: 8.3333333333%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\31 2u\28wide\29, .\31 2u\24\28wide\29
%extend_16 {
	width: 100%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\31 1u\28wide\29, .\31 1u\24\28wide\29
%extend_17 {
	width: 91.6666666667%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\31 0u\28wide\29, .\31 0u\24\28wide\29
%extend_18 {
	width: 83.3333333333%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\39 u\28wide\29, .\39 u\24\28wide\29
%extend_19 {
	width: 75%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\38 u\28wide\29, .\38 u\24\28wide\29
%extend_20 {
	width: 66.6666666667%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\37 u\28wide\29, .\37 u\24\28wide\29
%extend_21 {
	width: 58.3333333333%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\36 u\28wide\29, .\36 u\24\28wide\29
%extend_22 {
	width: 50%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\35 u\28wide\29, .\35 u\24\28wide\29
%extend_23 {
	width: 41.6666666667%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\34 u\28wide\29, .\34 u\24\28wide\29
%extend_24 {
	width: 33.3333333333%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\33 u\28wide\29, .\33 u\24\28wide\29
%extend_25 {
	width: 25%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\32 u\28wide\29, .\32 u\24\28wide\29
%extend_26 {
	width: 16.6666666667%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\31 u\28wide\29, .\31 u\24\28wide\29
%extend_27 {
	width: 8.3333333333%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\31 2u\28normal\29, .\31 2u\24\28normal\29
%extend_28 {
	width: 100%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\31 1u\28normal\29, .\31 1u\24\28normal\29
%extend_29 {
	width: 91.6666666667%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\31 0u\28normal\29, .\31 0u\24\28normal\29
%extend_30 {
	width: 83.3333333333%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\39 u\28normal\29, .\39 u\24\28normal\29
%extend_31 {
	width: 75%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\38 u\28normal\29, .\38 u\24\28normal\29
%extend_32 {
	width: 66.6666666667%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\37 u\28normal\29, .\37 u\24\28normal\29
%extend_33 {
	width: 58.3333333333%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\36 u\28normal\29, .\36 u\24\28normal\29
%extend_34 {
	width: 50%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\35 u\28normal\29, .\35 u\24\28normal\29
%extend_35 {
	width: 41.6666666667%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\34 u\28normal\29, .\34 u\24\28normal\29
%extend_36 {
	width: 33.3333333333%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\33 u\28normal\29, .\33 u\24\28normal\29
%extend_37 {
	width: 25%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\32 u\28normal\29, .\32 u\24\28normal\29
%extend_38 {
	width: 16.6666666667%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\31 u\28normal\29, .\31 u\24\28normal\29
%extend_39 {
	width: 8.3333333333%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\31 2u\28narrow\29, .\31 2u\24\28narrow\29
%extend_40 {
	width: 100%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\31 1u\28narrow\29, .\31 1u\24\28narrow\29
%extend_41 {
	width: 91.6666666667%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\31 0u\28narrow\29, .\31 0u\24\28narrow\29
%extend_42 {
	width: 83.3333333333%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\39 u\28narrow\29, .\39 u\24\28narrow\29
%extend_43 {
	width: 75%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\38 u\28narrow\29, .\38 u\24\28narrow\29
%extend_44 {
	width: 66.6666666667%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\37 u\28narrow\29, .\37 u\24\28narrow\29
%extend_45 {
	width: 58.3333333333%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\36 u\28narrow\29, .\36 u\24\28narrow\29
%extend_46 {
	width: 50%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\35 u\28narrow\29, .\35 u\24\28narrow\29
%extend_47 {
	width: 41.6666666667%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\34 u\28narrow\29, .\34 u\24\28narrow\29
%extend_48 {
	width: 33.3333333333%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\33 u\28narrow\29, .\33 u\24\28narrow\29
%extend_49 {
	width: 25%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\32 u\28narrow\29, .\32 u\24\28narrow\29
%extend_50 {
	width: 16.6666666667%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\31 u\28narrow\29, .\31 u\24\28narrow\29
%extend_51 {
	width: 8.3333333333%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\31 2u\28narrower\29, .\31 2u\24\28narrower\29
%extend_52 {
	width: 100%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\31 1u\28narrower\29, .\31 1u\24\28narrower\29
%extend_53 {
	width: 91.6666666667%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\31 0u\28narrower\29, .\31 0u\24\28narrower\29
%extend_54 {
	width: 83.3333333333%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\39 u\28narrower\29, .\39 u\24\28narrower\29
%extend_55 {
	width: 75%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\38 u\28narrower\29, .\38 u\24\28narrower\29
%extend_56 {
	width: 66.6666666667%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\37 u\28narrower\29, .\37 u\24\28narrower\29
%extend_57 {
	width: 58.3333333333%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\36 u\28narrower\29, .\36 u\24\28narrower\29
%extend_58 {
	width: 50%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\35 u\28narrower\29, .\35 u\24\28narrower\29
%extend_59 {
	width: 41.6666666667%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\34 u\28narrower\29, .\34 u\24\28narrower\29
%extend_60 {
	width: 33.3333333333%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\33 u\28narrower\29, .\33 u\24\28narrower\29
%extend_61 {
	width: 25%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\32 u\28narrower\29, .\32 u\24\28narrower\29
%extend_62 {
	width: 16.6666666667%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\31 u\28narrower\29, .\31 u\24\28narrower\29
%extend_63 {
	width: 8.3333333333%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\31 2u\28mobile\29, .\31 2u\24\28mobile\29
%extend_64 {
	width: 100%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\31 1u\28mobile\29, .\31 1u\24\28mobile\29
%extend_65 {
	width: 91.6666666667%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\31 0u\28mobile\29, .\31 0u\24\28mobile\29
%extend_66 {
	width: 83.3333333333%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\39 u\28mobile\29, .\39 u\24\28mobile\29
%extend_67 {
	width: 75%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\38 u\28mobile\29, .\38 u\24\28mobile\29
%extend_68 {
	width: 66.6666666667%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\37 u\28mobile\29, .\37 u\24\28mobile\29
%extend_69 {
	width: 58.3333333333%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\36 u\28mobile\29, .\36 u\24\28mobile\29
%extend_70 {
	width: 50%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\35 u\28mobile\29, .\35 u\24\28mobile\29
%extend_71 {
	width: 41.6666666667%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\34 u\28mobile\29, .\34 u\24\28mobile\29
%extend_72 {
	width: 33.3333333333%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\33 u\28mobile\29, .\33 u\24\28mobile\29
%extend_73 {
	width: 25%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\32 u\28mobile\29, .\32 u\24\28mobile\29
%extend_74 {
	width: 16.6666666667%;
	clear: none;
	margin-left: 0;
}

//original selectors
//.\31 u\28mobile\29, .\31 u\24\28mobile\29
%extend_75 {
	width: 8.3333333333%;
	clear: none;
	margin-left: 0;
}


@import $url_0;
@import $url_1;
html {
	@extend %extend_1;
}
body {
	@extend %extend_1;
	font-family: $font_0;
	background: $url_2no-repeat center center fixed;
	background-size: cover;
}
div {
	@extend %extend_1;
}
span {
	@extend %extend_1;
}
applet {
	@extend %extend_1;
}
object {
	@extend %extend_1;
}
iframe {
	@extend %extend_1;
}
h1 {
	@extend %extend_1;
}
h2 {
	@extend %extend_1;
}
h3 {
	@extend %extend_1;
}
h4 {
	@extend %extend_1;
}
h5 {
	@extend %extend_1;
}
h6 {
	@extend %extend_1;
}
p {
	@extend %extend_1;
}
blockquote {
	@extend %extend_1;
}
pre {
	@extend %extend_1;
}
a {
	@extend %extend_1;
}
abbr {
	@extend %extend_1;
}
acronym {
	@extend %extend_1;
}
address {
	@extend %extend_1;
}
big {
	@extend %extend_1;
}
cite {
	@extend %extend_1;
}
code {
	@extend %extend_1;
}
del {
	@extend %extend_1;
}
dfn {
	@extend %extend_1;
}
em {
	@extend %extend_1;
}
img {
	@extend %extend_1;
}
ins {
	@extend %extend_1;
}
kbd {
	@extend %extend_1;
}
q {
	@extend %extend_1;
}
s {
	@extend %extend_1;
}
samp {
	@extend %extend_1;
}
small {
	@extend %extend_1;
}
strike {
	@extend %extend_1;
}
strong {
	@extend %extend_1;
}
sub {
	@extend %extend_1;
}
sup {
	@extend %extend_1;
}
tt {
	@extend %extend_1;
}
var {
	@extend %extend_1;
}
b {
	@extend %extend_1;
}
u {
	@extend %extend_1;
}
i {
	@extend %extend_1;
}
center {
	@extend %extend_1;
}
dl {
	@extend %extend_1;
}
dt {
	@extend %extend_1;
}
dd {
	@extend %extend_1;
}
ol {
	@extend %extend_1;
}
ul {
	@extend %extend_1;
	&.icons {
		cursor: default;
		li {
			display: inline-block;
			a {
				width: 1.75em;
			}
		}
		a {
			display: inline-block;
			width: 2em;
			height: 2em;
			line-height: 2em;
			text-align: center;
			border: 0;
			font-size: 1.25em;
			width: 1.75em;
			font-size: 1.5em;
		}
	}
}
li {
	@extend %extend_1;
}
fieldset {
	@extend %extend_1;
}
form {
	@extend %extend_1;
	label {
		display: block;
		text-align: left;
		margin-bottom: 0.5em;
	}
	input[type="text"] {
		@extend %extend_2;
		line-height: 1.25em;
		&:focus {
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: 0 0 2px 1px $color_shark_approx;
			background: $white;
		}
	}
	input[type="email"] {
		@extend %extend_2;
		line-height: 1.25em;
		&:focus {
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: 0 0 2px 1px $color_shark_approx;
			background: $white;
		}
	}
	input[type="password"] {
		@extend %extend_2;
		line-height: 1.25em;
		&:focus {
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: 0 0 2px 1px $color_shark_approx;
			background: $white;
		}
	}
	input[type="date"] {
		@extend %extend_2;
		line-height: 1.25em;
		&:focus {
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: 0 0 2px 1px $color_shark_approx;
			background: $white;
		}
	}
	select {
		@extend %extend_2;
		line-height: 1.25em;
		&:focus {
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: 0 0 2px 1px $color_shark_approx;
			background: $white;
		}
	}
	textarea {
		@extend %extend_2;
		min-height: 14em;
		&:focus {
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: 0 0 2px 1px $color_shark_approx;
			background: $white;
		}
	}
	.formerize-placeholder {
		color: $color_fuscous_gray_approx !important;
	}
	::-webkit-input-placeholder {
		color: $color_fuscous_gray_approx !important;
	}
	:-moz-placeholder {
		color: $color_fuscous_gray_approx !important;
	}
	::-moz-placeholder {
		color: $color_fuscous_gray_approx !important;
	}
	:-ms-input-placeholder {
		color: $color_fuscous_gray_approx !important;
	}
	::-moz-focus-inner {
		border: 0;
	}
}
label {
	@extend %extend_1;
}
legend {
	@extend %extend_1;
}
table {
	@extend %extend_1;
}
caption {
	@extend %extend_1;
}
tbody {
	@extend %extend_1;
}
tfoot {
	@extend %extend_1;
}
thead {
	@extend %extend_1;
}
tr {
	@extend %extend_1;
}
th {
	@extend %extend_1;
}
td {
	@extend %extend_1;
}
article {
	@extend %extend_1;
	display: block;
}
aside {
	@extend %extend_1;
	display: block;
}
canvas {
	@extend %extend_1;
}
details {
	@extend %extend_1;
	display: block;
}
embed {
	@extend %extend_1;
}
figure {
	@extend %extend_1;
	display: block;
}
figcaption {
	@extend %extend_1;
	display: block;
}
footer {
	@extend %extend_1;
	display: block;
	margin: 2em 0 0;
}
header {
	@extend %extend_1;
	display: block;
}
hgroup {
	@extend %extend_1;
	display: block;
}
menu {
	@extend %extend_1;
	display: block;
}
nav {
	@extend %extend_1;
	display: block;
}
output {
	@extend %extend_1;
}
ruby {
	@extend %extend_1;
}
section {
	@extend %extend_1;
	display: block;
}
summary {
	@extend %extend_1;
}
time {
	@extend %extend_1;
}
mark {
	@extend %extend_1;
}
audio {
	@extend %extend_1;
}
video {
	@extend %extend_1;
}
.estilo-logo {
	width: 40%;
	height: 25%;
	margin-left: 30%;
}
.estilo-icono {
	font-family: $font_1;
	font-size: 10pt;
	color: $white;
	background: transparent;
	border: transparent;
	text-align: center;
	float: inherit;
}
.cont-i {
	padding: 4em 0 2em;
}
.icon {
	text-decoration: none;
	&:before {
		display: inline-block;
		font-family: $font_2;
		font-size: 3.25em;
		text-decoration: none;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
	}
	> .label {
		display: none;
	}
}
.row {
	border-bottom: solid 1px transparent;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	margin: -40px 0 -1px -40px;
	> * {
		float: left;
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
		padding: 40px 0 0 40px;
	}
	&:after {
		@extend %extend_3;
	}
	&:before {
		@extend %extend_3;
	}
	&.uniform {
		margin: -40px 0 -1px -40px;
		> * {
			padding: 40px 0 0 40px;
			> {
				&:first-child {
					margin-top: 0;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&.\32 {
			00\25 {
				margin: -80px 0 -1px -80px;
				> * {
					padding: 80px 0 0 80px;
				}
			}
			5\25 {
				margin: -10px 0 -1px -10px;
				> * {
					padding: 10px 0 0 10px;
				}
			}
		}
		&.\30 \25 {
			margin: 0 0 -1px 0;
			> * {
				padding: 0;
			}
		}
		&.\31 50\25 {
			margin: -60px 0 -1px -60px;
			> * {
				padding: 60px 0 0 60px;
			}
		}
		&.\35 0\25 {
			margin: -20px 0 -1px -20px;
			> * {
				padding: 20px 0 0 20px;
			}
		}
	}
	&.\32 {
		00\25 {
			margin: -80px 0 -1px -80px;
			> * {
				padding: 80px 0 0 80px;
			}
		}
		5\25 {
			margin: -10px 0 -1px -10px;
			> * {
				padding: 10px 0 0 10px;
			}
		}
	}
	&.\30 \25 {
		margin: 0 0 -1px 0;
		> * {
			padding: 0;
		}
	}
	&.\31 50\25 {
		margin: -60px 0 -1px -60px;
		> * {
			padding: 60px 0 0 60px;
		}
	}
	&.\35 0\25 {
		margin: -20px 0 -1px -20px;
		> * {
			padding: 20px 0 0 20px;
		}
	}
}
.\31 {
	2u {
		@extend %extend_4;
	}
	2u\24 {
		@extend %extend_4;
		+ * {
			clear: left;
		}
	}
	1u {
		@extend %extend_5;
	}
	1u\24 {
		@extend %extend_5;
		+ * {
			clear: left;
		}
	}
	0u {
		@extend %extend_6;
	}
	0u\24 {
		@extend %extend_6;
		+ * {
			clear: left;
		}
	}
	u {
		@extend %extend_15;
	}
	u\24 {
		@extend %extend_15;
		+ * {
			clear: left;
		}
	}
}
.\39 {
	u {
		@extend %extend_7;
	}
	u\24 {
		@extend %extend_7;
		+ * {
			clear: left;
		}
	}
}
.\38 {
	u {
		@extend %extend_8;
	}
	u\24 {
		@extend %extend_8;
		+ * {
			clear: left;
		}
	}
}
.\37 {
	u {
		@extend %extend_9;
	}
	u\24 {
		@extend %extend_9;
		+ * {
			clear: left;
		}
	}
}
.\36 {
	u {
		@extend %extend_10;
	}
	u\24 {
		@extend %extend_10;
		+ * {
			clear: left;
		}
	}
}
.\35 {
	u {
		@extend %extend_11;
	}
	u\24 {
		@extend %extend_11;
		+ * {
			clear: left;
		}
	}
}
.\34 {
	u {
		@extend %extend_12;
	}
	u\24 {
		@extend %extend_12;
		+ * {
			clear: left;
		}
	}
}
.\33 {
	u {
		@extend %extend_13;
	}
	u\24 {
		@extend %extend_13;
		+ * {
			clear: left;
		}
	}
}
.\32 {
	u {
		@extend %extend_14;
	}
	u\24 {
		@extend %extend_14;
		+ * {
			clear: left;
		}
	}
}
.\-11u {
	margin-left: 91.66667%;
}
.\-10u {
	margin-left: 83.33333%;
}
.\-9u {
	margin-left: 75%;
}
.\-8u {
	margin-left: 66.66667%;
}
.\-7u {
	margin-left: 58.33333%;
}
.\-6u {
	margin-left: 50%;
}
.\-5u {
	margin-left: 41.66667%;
}
.\-4u {
	margin-left: 33.33333%;
}
.\-3u {
	margin-left: 25%;
}
.\-2u {
	margin-left: 16.66667%;
}
.\-1u {
	margin-left: 8.33333%;
}
@media screen and(min-width: 961px) and(max-width: 1880px) {
	.row {
		margin: -40px 0 -1px -40px;
		> * {
			padding: 40px 0 0 40px;
		}
		&.uniform {
			margin: -40px 0 -1px -40px;
			> * {
				padding: 40px 0 0 40px;
			}
			&.\32 {
				00\25 {
					margin: -80px 0 -1px -80px;
					> * {
						padding: 80px 0 0 80px;
					}
				}
				5\25 {
					margin: -10px 0 -1px -10px;
					> * {
						padding: 10px 0 0 10px;
					}
				}
			}
			&.\31 50\25 {
				margin: -60px 0 -1px -60px;
				> * {
					padding: 60px 0 0 60px;
				}
			}
			&.\35 0\25 {
				margin: -20px 0 -1px -20px;
				> * {
					padding: 20px 0 0 20px;
				}
			}
		}
		&.\32 {
			00\25 {
				margin: -80px 0 -1px -80px;
				> * {
					padding: 80px 0 0 80px;
				}
			}
			5\25 {
				margin: -10px 0 -1px -10px;
				> * {
					padding: 10px 0 0 10px;
				}
			}
		}
		&.\31 50\25 {
			margin: -60px 0 -1px -60px;
			> * {
				padding: 60px 0 0 60px;
			}
		}
		&.\35 0\25 {
			margin: -20px 0 -1px -20px;
			> * {
				padding: 20px 0 0 20px;
			}
		}
	}
	.\31 {
		2u\28wide\29 {
			@extend %extend_16;
		}
		2u\24\28wide\29 {
			@extend %extend_16;
			+ * {
				clear: left;
			}
		}
		1u\28wide\29 {
			@extend %extend_17;
		}
		1u\24\28wide\29 {
			@extend %extend_17;
			+ * {
				clear: left;
			}
		}
		0u\28wide\29 {
			@extend %extend_18;
		}
		0u\24\28wide\29 {
			@extend %extend_18;
			+ * {
				clear: left;
			}
		}
		u\28wide\29 {
			@extend %extend_27;
		}
		u\24\28wide\29 {
			@extend %extend_27;
			+ * {
				clear: left;
			}
		}
	}
	.\39 {
		u\28wide\29 {
			@extend %extend_19;
		}
		u\24\28wide\29 {
			@extend %extend_19;
			+ * {
				clear: left;
			}
		}
	}
	.\38 {
		u\28wide\29 {
			@extend %extend_20;
		}
		u\24\28wide\29 {
			@extend %extend_20;
			+ * {
				clear: left;
			}
		}
	}
	.\37 {
		u\28wide\29 {
			@extend %extend_21;
		}
		u\24\28wide\29 {
			@extend %extend_21;
			+ * {
				clear: left;
			}
		}
	}
	.\36 {
		u\28wide\29 {
			@extend %extend_22;
		}
		u\24\28wide\29 {
			@extend %extend_22;
			+ * {
				clear: left;
			}
		}
	}
	.\35 {
		u\28wide\29 {
			@extend %extend_23;
		}
		u\24\28wide\29 {
			@extend %extend_23;
			+ * {
				clear: left;
			}
		}
	}
	.\34 {
		u\28wide\29 {
			@extend %extend_24;
		}
		u\24\28wide\29 {
			@extend %extend_24;
			+ * {
				clear: left;
			}
		}
	}
	.\33 {
		u\28wide\29 {
			@extend %extend_25;
		}
		u\24\28wide\29 {
			@extend %extend_25;
			+ * {
				clear: left;
			}
		}
	}
	.\32 {
		u\28wide\29 {
			@extend %extend_26;
		}
		u\24\28wide\29 {
			@extend %extend_26;
			+ * {
				clear: left;
			}
		}
	}
	.\-11u\28wide\29 {
		margin-left: 91.66667%;
	}
	.\-10u\28wide\29 {
		margin-left: 83.33333%;
	}
	.\-9u\28wide\29 {
		margin-left: 75%;
	}
	.\-8u\28wide\29 {
		margin-left: 66.66667%;
	}
	.\-7u\28wide\29 {
		margin-left: 58.33333%;
	}
	.\-6u\28wide\29 {
		margin-left: 50%;
	}
	.\-5u\28wide\29 {
		margin-left: 41.66667%;
	}
	.\-4u\28wide\29 {
		margin-left: 33.33333%;
	}
	.\-3u\28wide\29 {
		margin-left: 25%;
	}
	.\-2u\28wide\29 {
		margin-left: 16.66667%;
	}
	.\-1u\28wide\29 {
		margin-left: 8.33333%;
	}
}
@media screen and(min-width: 961px) and(max-width: 1620px) {
	.row {
		margin: -40px 0 -1px -40px;
		> * {
			padding: 40px 0 0 40px;
		}
		&.uniform {
			margin: -40px 0 -1px -40px;
			> * {
				padding: 40px 0 0 40px;
			}
			&.\32 {
				00\25 {
					margin: -80px 0 -1px -80px;
					> * {
						padding: 80px 0 0 80px;
					}
				}
				5\25 {
					margin: -10px 0 -1px -10px;
					> * {
						padding: 10px 0 0 10px;
					}
				}
			}
			&.\31 50\25 {
				margin: -60px 0 -1px -60px;
				> * {
					padding: 60px 0 0 60px;
				}
			}
			&.\35 0\25 {
				margin: -20px 0 -1px -20px;
				> * {
					padding: 20px 0 0 20px;
				}
			}
		}
		&.\32 {
			00\25 {
				margin: -80px 0 -1px -80px;
				> * {
					padding: 80px 0 0 80px;
				}
			}
			5\25 {
				margin: -10px 0 -1px -10px;
				> * {
					padding: 10px 0 0 10px;
				}
			}
		}
		&.\31 50\25 {
			margin: -60px 0 -1px -60px;
			> * {
				padding: 60px 0 0 60px;
			}
		}
		&.\35 0\25 {
			margin: -20px 0 -1px -20px;
			> * {
				padding: 20px 0 0 20px;
			}
		}
	}
	.\31 {
		2u\28normal\29 {
			@extend %extend_28;
		}
		2u\24\28normal\29 {
			@extend %extend_28;
			+ * {
				clear: left;
			}
		}
		1u\28normal\29 {
			@extend %extend_29;
		}
		1u\24\28normal\29 {
			@extend %extend_29;
			+ * {
				clear: left;
			}
		}
		0u\28normal\29 {
			@extend %extend_30;
		}
		0u\24\28normal\29 {
			@extend %extend_30;
			+ * {
				clear: left;
			}
		}
		u\28normal\29 {
			@extend %extend_39;
		}
		u\24\28normal\29 {
			@extend %extend_39;
			+ * {
				clear: left;
			}
		}
	}
	.\39 {
		u\28normal\29 {
			@extend %extend_31;
		}
		u\24\28normal\29 {
			@extend %extend_31;
			+ * {
				clear: left;
			}
		}
	}
	.\38 {
		u\28normal\29 {
			@extend %extend_32;
		}
		u\24\28normal\29 {
			@extend %extend_32;
			+ * {
				clear: left;
			}
		}
	}
	.\37 {
		u\28normal\29 {
			@extend %extend_33;
		}
		u\24\28normal\29 {
			@extend %extend_33;
			+ * {
				clear: left;
			}
		}
	}
	.\36 {
		u\28normal\29 {
			@extend %extend_34;
		}
		u\24\28normal\29 {
			@extend %extend_34;
			+ * {
				clear: left;
			}
		}
	}
	.\35 {
		u\28normal\29 {
			@extend %extend_35;
		}
		u\24\28normal\29 {
			@extend %extend_35;
			+ * {
				clear: left;
			}
		}
	}
	.\34 {
		u\28normal\29 {
			@extend %extend_36;
		}
		u\24\28normal\29 {
			@extend %extend_36;
			+ * {
				clear: left;
			}
		}
	}
	.\33 {
		u\28normal\29 {
			@extend %extend_37;
		}
		u\24\28normal\29 {
			@extend %extend_37;
			+ * {
				clear: left;
			}
		}
	}
	.\32 {
		u\28normal\29 {
			@extend %extend_38;
		}
		u\24\28normal\29 {
			@extend %extend_38;
			+ * {
				clear: left;
			}
		}
	}
	.\-11u\28normal\29 {
		margin-left: 91.66667%;
	}
	.\-10u\28normal\29 {
		margin-left: 83.33333%;
	}
	.\-9u\28normal\29 {
		margin-left: 75%;
	}
	.\-8u\28normal\29 {
		margin-left: 66.66667%;
	}
	.\-7u\28normal\29 {
		margin-left: 58.33333%;
	}
	.\-6u\28normal\29 {
		margin-left: 50%;
	}
	.\-5u\28normal\29 {
		margin-left: 41.66667%;
	}
	.\-4u\28normal\29 {
		margin-left: 33.33333%;
	}
	.\-3u\28normal\29 {
		margin-left: 25%;
	}
	.\-2u\28normal\29 {
		margin-left: 16.66667%;
	}
	.\-1u\28normal\29 {
		margin-left: 8.33333%;
	}
}
@media screen and(min-width: 961px) and(max-width: 1320px) {
	.row {
		margin: -20px 0 -1px -20px;
		> * {
			padding: 20px 0 0 20px;
		}
		&.uniform {
			margin: -20px 0 -1px -20px;
			> * {
				padding: 20px 0 0 20px;
			}
			&.\32 {
				00\25 {
					margin: -40px 0 -1px -40px;
					> * {
						padding: 40px 0 0 40px;
					}
				}
				5\25 {
					margin: -5px 0 -1px -5px;
					> * {
						padding: 5px 0 0 5px;
					}
				}
			}
			&.\31 50\25 {
				margin: -30px 0 -1px -30px;
				> * {
					padding: 30px 0 0 30px;
				}
			}
			&.\35 0\25 {
				margin: -10px 0 -1px -10px;
				> * {
					padding: 10px 0 0 10px;
				}
			}
		}
		&.\32 {
			00\25 {
				margin: -40px 0 -1px -40px;
				> * {
					padding: 40px 0 0 40px;
				}
			}
			5\25 {
				margin: -5px 0 -1px -5px;
				> * {
					padding: 5px 0 0 5px;
				}
			}
		}
		&.\31 50\25 {
			margin: -30px 0 -1px -30px;
			> * {
				padding: 30px 0 0 30px;
			}
		}
		&.\35 0\25 {
			margin: -10px 0 -1px -10px;
			> * {
				padding: 10px 0 0 10px;
			}
		}
	}
	.\31 {
		2u\28narrow\29 {
			@extend %extend_40;
		}
		2u\24\28narrow\29 {
			@extend %extend_40;
			+ * {
				clear: left;
			}
		}
		1u\28narrow\29 {
			@extend %extend_41;
		}
		1u\24\28narrow\29 {
			@extend %extend_41;
			+ * {
				clear: left;
			}
		}
		0u\28narrow\29 {
			@extend %extend_42;
		}
		0u\24\28narrow\29 {
			@extend %extend_42;
			+ * {
				clear: left;
			}
		}
		u\28narrow\29 {
			@extend %extend_51;
		}
		u\24\28narrow\29 {
			@extend %extend_51;
			+ * {
				clear: left;
			}
		}
	}
	.\39 {
		u\28narrow\29 {
			@extend %extend_43;
		}
		u\24\28narrow\29 {
			@extend %extend_43;
			+ * {
				clear: left;
			}
		}
	}
	.\38 {
		u\28narrow\29 {
			@extend %extend_44;
		}
		u\24\28narrow\29 {
			@extend %extend_44;
			+ * {
				clear: left;
			}
		}
	}
	.\37 {
		u\28narrow\29 {
			@extend %extend_45;
		}
		u\24\28narrow\29 {
			@extend %extend_45;
			+ * {
				clear: left;
			}
		}
	}
	.\36 {
		u\28narrow\29 {
			@extend %extend_46;
		}
		u\24\28narrow\29 {
			@extend %extend_46;
			+ * {
				clear: left;
			}
		}
	}
	.\35 {
		u\28narrow\29 {
			@extend %extend_47;
		}
		u\24\28narrow\29 {
			@extend %extend_47;
			+ * {
				clear: left;
			}
		}
	}
	.\34 {
		u\28narrow\29 {
			@extend %extend_48;
		}
		u\24\28narrow\29 {
			@extend %extend_48;
			+ * {
				clear: left;
			}
		}
	}
	.\33 {
		u\28narrow\29 {
			@extend %extend_49;
		}
		u\24\28narrow\29 {
			@extend %extend_49;
			+ * {
				clear: left;
			}
		}
	}
	.\32 {
		u\28narrow\29 {
			@extend %extend_50;
		}
		u\24\28narrow\29 {
			@extend %extend_50;
			+ * {
				clear: left;
			}
		}
	}
	.\-11u\28narrow\29 {
		margin-left: 91.66667%;
	}
	.\-10u\28narrow\29 {
		margin-left: 83.33333%;
	}
	.\-9u\28narrow\29 {
		margin-left: 75%;
	}
	.\-8u\28narrow\29 {
		margin-left: 66.66667%;
	}
	.\-7u\28narrow\29 {
		margin-left: 58.33333%;
	}
	.\-6u\28narrow\29 {
		margin-left: 50%;
	}
	.\-5u\28narrow\29 {
		margin-left: 41.66667%;
	}
	.\-4u\28narrow\29 {
		margin-left: 33.33333%;
	}
	.\-3u\28narrow\29 {
		margin-left: 25%;
	}
	.\-2u\28narrow\29 {
		margin-left: 16.66667%;
	}
	.\-1u\28narrow\29 {
		margin-left: 8.33333%;
	}
}
@media screen and(max-width: 960px) {
	.row {
		margin: -20px 0 -1px -20px;
		> * {
			padding: 20px 0 0 20px;
		}
		&.uniform {
			margin: -20px 0 -1px -20px;
			> * {
				padding: 20px 0 0 20px;
			}
			&.\32 {
				00\25 {
					margin: -40px 0 -1px -40px;
					> * {
						padding: 40px 0 0 40px;
					}
				}
				5\25 {
					margin: -5px 0 -1px -5px;
					> * {
						padding: 5px 0 0 5px;
					}
				}
			}
			&.\31 50\25 {
				margin: -30px 0 -1px -30px;
				> * {
					padding: 30px 0 0 30px;
				}
			}
			&.\35 0\25 {
				margin: -10px 0 -1px -10px;
				> * {
					padding: 10px 0 0 10px;
				}
			}
		}
		&.\32 {
			00\25 {
				margin: -40px 0 -1px -40px;
				> * {
					padding: 40px 0 0 40px;
				}
			}
			5\25 {
				margin: -5px 0 -1px -5px;
				> * {
					padding: 5px 0 0 5px;
				}
			}
		}
		&.\31 50\25 {
			margin: -30px 0 -1px -30px;
			> * {
				padding: 30px 0 0 30px;
			}
		}
		&.\35 0\25 {
			margin: -10px 0 -1px -10px;
			> * {
				padding: 10px 0 0 10px;
			}
		}
	}
	.\31 {
		2u\28narrower\29 {
			@extend %extend_52;
		}
		2u\24\28narrower\29 {
			@extend %extend_52;
			+ * {
				clear: left;
			}
		}
		1u\28narrower\29 {
			@extend %extend_53;
		}
		1u\24\28narrower\29 {
			@extend %extend_53;
			+ * {
				clear: left;
			}
		}
		0u\28narrower\29 {
			@extend %extend_54;
		}
		0u\24\28narrower\29 {
			@extend %extend_54;
			+ * {
				clear: left;
			}
		}
		u\28narrower\29 {
			@extend %extend_63;
		}
		u\24\28narrower\29 {
			@extend %extend_63;
			+ * {
				clear: left;
			}
		}
	}
	.\39 {
		u\28narrower\29 {
			@extend %extend_55;
		}
		u\24\28narrower\29 {
			@extend %extend_55;
			+ * {
				clear: left;
			}
		}
	}
	.\38 {
		u\28narrower\29 {
			@extend %extend_56;
		}
		u\24\28narrower\29 {
			@extend %extend_56;
			+ * {
				clear: left;
			}
		}
	}
	.\37 {
		u\28narrower\29 {
			@extend %extend_57;
		}
		u\24\28narrower\29 {
			@extend %extend_57;
			+ * {
				clear: left;
			}
		}
	}
	.\36 {
		u\28narrower\29 {
			@extend %extend_58;
		}
		u\24\28narrower\29 {
			@extend %extend_58;
			+ * {
				clear: left;
			}
		}
	}
	.\35 {
		u\28narrower\29 {
			@extend %extend_59;
		}
		u\24\28narrower\29 {
			@extend %extend_59;
			+ * {
				clear: left;
			}
		}
	}
	.\34 {
		u\28narrower\29 {
			@extend %extend_60;
		}
		u\24\28narrower\29 {
			@extend %extend_60;
			+ * {
				clear: left;
			}
		}
	}
	.\33 {
		u\28narrower\29 {
			@extend %extend_61;
		}
		u\24\28narrower\29 {
			@extend %extend_61;
			+ * {
				clear: left;
			}
		}
	}
	.\32 {
		u\28narrower\29 {
			@extend %extend_62;
		}
		u\24\28narrower\29 {
			@extend %extend_62;
			+ * {
				clear: left;
			}
		}
	}
	.\-11u\28narrower\29 {
		margin-left: 91.66667%;
	}
	.\-10u\28narrower\29 {
		margin-left: 83.33333%;
	}
	.\-9u\28narrower\29 {
		margin-left: 75%;
	}
	.\-8u\28narrower\29 {
		margin-left: 66.66667%;
	}
	.\-7u\28narrower\29 {
		margin-left: 58.33333%;
	}
	.\-6u\28narrower\29 {
		margin-left: 50%;
	}
	.\-5u\28narrower\29 {
		margin-left: 41.66667%;
	}
	.\-4u\28narrower\29 {
		margin-left: 33.33333%;
	}
	.\-3u\28narrower\29 {
		margin-left: 25%;
	}
	.\-2u\28narrower\29 {
		margin-left: 16.66667%;
	}
	.\-1u\28narrower\29 {
		margin-left: 8.33333%;
	}
}
@media screen and(max-width: 736px) {
	.row {
		margin: -20px 0 -1px -20px;
		> * {
			padding: 20px 0 0 20px;
		}
		&.uniform {
			margin: -20px 0 -1px -20px;
			> * {
				padding: 20px 0 0 20px;
			}
			&.\32 {
				00\25 {
					margin: -40px 0 -1px -40px;
					> * {
						padding: 40px 0 0 40px;
					}
				}
				5\25 {
					margin: -5px 0 -1px -5px;
					> * {
						padding: 5px 0 0 5px;
					}
				}
			}
			&.\31 50\25 {
				margin: -30px 0 -1px -30px;
				> * {
					padding: 30px 0 0 30px;
				}
			}
			&.\35 0\25 {
				margin: -10px 0 -1px -10px;
				> * {
					padding: 10px 0 0 10px;
				}
			}
		}
		&.\32 {
			00\25 {
				margin: -40px 0 -1px -40px;
				> * {
					padding: 40px 0 0 40px;
				}
			}
			5\25 {
				margin: -5px 0 -1px -5px;
				> * {
					padding: 5px 0 0 5px;
				}
			}
		}
		&.\31 50\25 {
			margin: -30px 0 -1px -30px;
			> * {
				padding: 30px 0 0 30px;
			}
		}
		&.\35 0\25 {
			margin: -10px 0 -1px -10px;
			> * {
				padding: 10px 0 0 10px;
			}
		}
	}
	.\31 {
		2u\28mobile\29 {
			@extend %extend_64;
		}
		2u\24\28mobile\29 {
			@extend %extend_64;
			+ * {
				clear: left;
			}
		}
		1u\28mobile\29 {
			@extend %extend_65;
		}
		1u\24\28mobile\29 {
			@extend %extend_65;
			+ * {
				clear: left;
			}
		}
		0u\28mobile\29 {
			@extend %extend_66;
		}
		0u\24\28mobile\29 {
			@extend %extend_66;
			+ * {
				clear: left;
			}
		}
		u\28mobile\29 {
			@extend %extend_75;
		}
		u\24\28mobile\29 {
			@extend %extend_75;
			+ * {
				clear: left;
			}
		}
	}
	.\39 {
		u\28mobile\29 {
			@extend %extend_67;
		}
		u\24\28mobile\29 {
			@extend %extend_67;
			+ * {
				clear: left;
			}
		}
	}
	.\38 {
		u\28mobile\29 {
			@extend %extend_68;
		}
		u\24\28mobile\29 {
			@extend %extend_68;
			+ * {
				clear: left;
			}
		}
	}
	.\37 {
		u\28mobile\29 {
			@extend %extend_69;
		}
		u\24\28mobile\29 {
			@extend %extend_69;
			+ * {
				clear: left;
			}
		}
	}
	.\36 {
		u\28mobile\29 {
			@extend %extend_70;
		}
		u\24\28mobile\29 {
			@extend %extend_70;
			+ * {
				clear: left;
			}
		}
	}
	.\35 {
		u\28mobile\29 {
			@extend %extend_71;
		}
		u\24\28mobile\29 {
			@extend %extend_71;
			+ * {
				clear: left;
			}
		}
	}
	.\34 {
		u\28mobile\29 {
			@extend %extend_72;
		}
		u\24\28mobile\29 {
			@extend %extend_72;
			+ * {
				clear: left;
			}
		}
	}
	.\33 {
		u\28mobile\29 {
			@extend %extend_73;
		}
		u\24\28mobile\29 {
			@extend %extend_73;
			+ * {
				clear: left;
			}
		}
	}
	.\32 {
		u\28mobile\29 {
			@extend %extend_74;
		}
		u\24\28mobile\29 {
			@extend %extend_74;
			+ * {
				clear: left;
			}
		}
	}
	.\-11u\28mobile\29 {
		margin-left: 91.66667%;
	}
	.\-10u\28mobile\29 {
		margin-left: 83.33333%;
	}
	.\-9u\28mobile\29 {
		margin-left: 75%;
	}
	.\-8u\28mobile\29 {
		margin-left: 66.66667%;
	}
	.\-7u\28mobile\29 {
		margin-left: 58.33333%;
	}
	.\-6u\28mobile\29 {
		margin-left: 50%;
	}
	.\-5u\28mobile\29 {
		margin-left: 41.66667%;
	}
	.\-4u\28mobile\29 {
		margin-left: 33.33333%;
	}
	.\-3u\28mobile\29 {
		margin-left: 25%;
	}
	.\-2u\28mobile\29 {
		margin-left: 16.66667%;
	}
	.\-1u\28mobile\29 {
		margin-left: 8.33333%;
	}
}
#footer {
	margin-left: 375px;
	text-align: center;
	background-color: $color_shark_approx;
	padding: 1em 0;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: inset 0 1px 0 0 $black_5, inset 0 0.1em 0.1em 0 $black_2.5;
	font-size: 0.8em;
	margin-left: 300px;
	margin-left: 20%;
	.copyright {
		cursor: default;
		margin: 0;
		li {
			display: inline-block;
			line-height: 1em;
			border-left: solid 1px $gray_35;
			padding: 0 0 0 0.5em;
			margin: 0 0 0 0.5em;
			display: block;
			line-height: 1.25em;
			border: 0;
			padding: 0;
			margin: 1em 0 0;
			&:first-child {
				border-left: 0;
				padding-left: 0;
				margin-left: 0;
				margin-top: 0;
			}
		}
	}
}
#usuario {
	background-color: $color_bunker_approx;
	font-size: 0.9em;
	text-align: right;
	font-family: $font_0;
	color: $white;
	padding: 2em 1em 2em 0;
}
#header .icons {
	font-size: 0.8em;
	margin: 0 0 1em 0;
	text-align: center;
	a {
		color: $color_mako_approx;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: color 0.35s ease-in-out;
		&:hover {
			color: $white;
		}
	}
}