<!DOCTYPE HTML>
<html>
	<head>
		<title>diagnostico</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../4/assets/css/main.css" />
	</head>
	
    <body>
        <div id="header">
            <div class="top">
                <!-- Logo -->
                <div id="logo">
                    <span class="image logo"><img src="../recursos/images/logo_efectos.png" alt="" /></span>
                </div>
                
                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li><a href="menu.html" id="index-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Inicio</span></a></li>
                        <li><a href="#reportes" id="reportes-link" class="skel-layers-ignoreHref"><span class="icon fa-file">Reportes</span></a></li>
				        <li><a href="diagnosticos.html" id="link" class="skel-layers-ignoreHref"><span class="icon fa-th">Diagnosticos</span></a></li>
				        <li><a href="#drones" id="drones-link" class="skel-layers-ignoreHref"><span class="icon fa-crosshairs">Drones</span></a></li>
				    </ul>
				</nav>
            </div>
        </div>
        
        <!-- Main -->
        <div id="main">
            <!-- Diagnosticos1 -->
                <section id="drones" class="four">
						<div class="container">
							<header>
								<h4>DIAGNOSTICO</h4>
							</header>

							<form method="post" action="#">
								<div class="row">
                                    <div class="5u 12u$(mobile)"> <label>Fecha</label> <input type="date" name="date"/></div>
									<div class="7u$ 12u$(mobile)"> <label>Cuadrante</label> <input type="text" name="cuadrante"/></div>
									<div class="12u$"><input type="submit" value="Iniciar" /></div>
								</div>
							</form>
						</div>
				</section>
            <!-- Diagnosticos2 -->
                <section id="drones" class="three">
						<div class="container">
							<div class="12u$(mobile)"> <label>Video</label></div>
						</div>
				</section>
             <!-- Diagnosticos2 -->
                <section id="drones" class="two">
						<div class="container">
                            <div class="row">
                                <div class="12u$(mobile)"> <label>Diagnostico herido</label></div>
                                <div class="6u$(mobile)"> <label>Nombre:</label></div>
                                <div class="6u$(mobile)"> <label>Sintomas:</label></div>
                                <div class="6u$(mobile)"> <label>Pulsaciones:</label></div>
                                <div class="6u$(mobile)"> <label>Respiracion:</label></div>
                                <div class="6u$(mobile)"> <label>Oxigeno en la sangre:</label></div>
                                <div class="6u$(mobile)"> <label>Observaciones:</label></div>
                            </div>
                            
                            <div class="row">
                                <div class="12u$(mobile)"> <label>Reporte Dron</label></div>
                                <div class="6u$(mobile)"> <label>Nombre:</label></div>
                                <div class="6u$(mobile)"> <label>Veocidad:</label></div>
                                <div class="6u$(mobile)"> <label>Nivel de bateria:</label></div>
                                <div class="6u$(mobile)"> <label>Distancia recorrida:</label></div>
                            </div>
						</div>
				</section>
			</div>

	

		<!-- Scripts -->
			
        <script src="../recursos/js/jquery.min.js"></script>
			<script src="../recursos/js/jquery.scrolly.min.js"></script>
			<script src="../recursos/js/jquery.scrollzer.min.js"></script>
			<script src="../recursos/js/skel.min.js"></script>
			<script src="../recursos/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../recursos/js/main.js"></script>

	</body>
</html>