<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>Login</title>

<link rel="stylesheet" type="text/css" href="../recursos/css/estilo-login.css" />
<link rel="stylesheet" type="text/css" href="../recursos/css/bootstrap.css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="http://www.modernizr.com/downloads/modernizr-latest.js"></script>
<script type="text/javascript" src="../recursos/js/login-placeholder.js"></script>
<script type="text/javascript" src="../recursos/js/jquery-2.0.3.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){  

 $('#iniciar').on('click',function(evento) {
            evento.preventDefault();
              
            $.ajax({
                url:'php/login.php',
                type: 'POST',
                data: {
                     usuario:$('#email').val(),
                    contrasena:$('#password').val()
                    
                },
                
                dataType: 'json' 
            }).done(function(datos)  {
             
             console.log(datos);



                if(typeof(datos.usuario) == 'undefined')
                {
                
                     $('#mensaje').text('Usuario o Contraseña invalidos');
                     
                }
                    
                else
                {
                  
                    //alert('Bienvenido ' + datos.usuario[0].nombre );
                    window.location.href="menu.html";
                }
                
            }).fail(function(datos)
            {
            	//alert(correo);
                console.log('error')
                
                
            });
            
            
        });

});

</script>


</head>
<body>

<form id="slick-login">
   <header> <img class="estilo-logo-login" src="../recursos/images/logo_efectos.png" alt="Project Eagle"  align="middle" float="inherit"> </header>  

    
<input id="email" type="email" name="usuario" class="placeholder" placeholder="ejemplo@ejemplo.com"  pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" required>
<input id="password" type="password" name="contrasena" class="placeholder" placeholder="Contraseña"   size="30" required >
<input id="iniciar" type="submit" value="Login" name="commit">
<h4 class="estilo-a" id="mensaje"></h4>

    <a style="text-decoration:none"  class="estilo-a" href="registrar.html">Regístrate</a>
  
</form>


      
</body> 
</html>