<!DOCTYPE HTML>
<html>
	<head>
		<title>Inicio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../assets/css/estilo-inicio.css">
        
	</head>
	<body>
         <!-- Header2 de login-->
        <div id="usuario">
            <label>Jane F.</label>
            <label> | </label>
            <label>Salir</label>
        </div>

				<!-- Iconos -->
					<section id="" class="">
						<div class="container">
                            <img src="../assets/images/logo_efectos.png" alt="Project Eagle" class="estilo-logo"  align="middle">
							<form method="post" action="#">
								<div class="row cont-i">
                                    <div class="2u"></div>
                                    <div class="3u 12u$(mobile)">
                                        <button class="icon fa-file estilo-icono"></br>Reportes</button>
									</div>
                                    
                                    <div class="3u 12u$(mobile)">
                                        <button class="icon fa-stethoscope estilo-icono"></br>Diagnosticos</button>
									</div>
                                    
                                    <div class="3u 12u$(mobile)">
                                        <button class="icon fa-crosshairs estilo-icono"></br>Drones</button>
									</div>
								</div>
							</form>
						</div>
					</section>
			

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollzer.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
	</body>
</html>